@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  font-weight: 500;
}

button {
  border: 0;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  font-size: 14px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 0;
}

.main-pad {
  padding: 50px;
}

.menu-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.menu-box ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.menu-box {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-box ul a {
  color: #000;
}

.t-btn {
  padding: 10px 40px;
  background: rgba(196, 196, 196, 0.13);
  font-size: 18px;
  border-radius: 30px 10px 30px 10px;
  line-height: 20px;
  transition: .3s;
}

.t-btn:hover {
  transition: .3s;
  border-radius: 10px 30px 10px 30px;
}

.hero-banner .col-lg-12 {
  text-align: end;
}

.sec-scroll {
  padding: 20px 0;
}

.scroll-btn {
  width: 100%;
  display: block;
  text-align: center;
  background: rgba(239, 239, 244, 0.5);
  color: #000;
  font-size: 18px;
  padding: 15px;
  line-height: 20px;
  transition: .3s;
}

.scroll-btn:hover {
  transition: .3s;
  border-radius: 10px
}